body {
  background-color: #5e879bd9;
  color: #efeced;
  font-family: monospace;
}

main {
  display: flex;
  flex-direction: row;
}
h2 {
  color: #070003;
}
img {
  border: 1px solid white;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
}

p {
  color: #f8f9f9;
}

.footer {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-size: 0.75rem;
  background-color: #8097a6;
  padding: 15px;
  border-radius: 8px;
  color: #1d2326;
  box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

a {
  color: white;
}

a:hover {
  opacity: 0.75;
}

.content {
  width: 65%;
  padding-left: 30px;
  padding-right: 20px;
  color: #120107;
}

.content p {
  max-width: 80%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px dotted #f8f7f6;
  height: 85vh;
}

button {
  width: 200px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  border: 1px solid #f5f3f2;
  background: transparent;
  color: #f9f8f7;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.reveal-btn {
  border: none;
  text-decoration: underline;
  margin: 0;
}

.reveal-btn:hover {
  color: white;
  background-color: transparent;
}
